.room {
  width: 100vw;
  height: 94vh;
  overflow: hidden;
  background-color: var(--black);
  display: flex;
  flex-direction: row;
}

.access-message {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--grey);
}

.room-video {
  width: 75%;
  height: inherit;
  overflow-y: scroll;
}

.room-chat {
  width: 25%;
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 33%);
  grid-auto-rows: max-content;
}

#share-screen-grid {
  grid-column: 1 / span 3;
}

#video-grid div {
  position: relative;
}

#video-grid div h6 {
  position: absolute;
  background-color: var(--black);
  margin: 0;
  bottom: 0;
  color: var(--white);
  padding: 0.15rem;
}

video {
  width: 100%;
  height: auto;
}

.room-id-share {
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  margin-top: 0;
  font-style: italic;
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--grey);
  display: flex;
  justify-content: space-between;
}

.room-id-share div {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;
}

.room-utility {
  width: 100%;
  box-shadow: 0px -4px 10px rgba(0,0,0,0.1);
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.room-utility div {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.utility-button {
  margin: 0 1rem ;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: tomato;
  box-shadow: 0px 0px 12px rgba(255,99,71,0.5);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

#room-input {
  position: relative;
  border-radius: none;
  box-shadow: none;
}

#chat-box {
  overflow-y: scroll;
}

.message-div {
  margin: 0.5rem 1rem;
  box-shadow: 0px 0px 10px rgb(230, 230, 230);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.message-div span {
  display: flex;
  justify-content: space-between;
}

.message-div span h5 {
  margin: 0.25rem 0;
  font-size: 0.85rem;
}

.message-div span h6 {
  margin: 0.25rem 0;
  font-size: 0.65rem;
}

.message-div p {
  margin: 0.25rem 0;
  font-size: 0.85rem;
  color: var(--grey);
}
