.landing {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  text-align: center;
}

.landing img {
  width: 50%;
  margin: 3rem auto;
}

.landing h3 {
  margin: 0.5rem auto;
  font-size: 1.5rem;
}

.landing p {
  color: var(--grey);
}